@font-face {
  font-family: bebasneue;
  src: url(/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins-Regular.ttf);
}

h1 {
  font-family: bebasneue;
  margin: 10px;
  font-size: 48px;
}

.todo-body {
  background-color: #dedbcc;
  margin: 20px;
}

button {
  cursor: pointer;
}

#btntodo,
#btndone {
  display: inline-block;
  padding: 10px 20px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  margin: 10px 0px 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  font-family: bebasneue;
  font-size: 26px;
}

#btntodo {
  background-color: #f0ede4;
  border-left: solid #e3ad55;
  border-right: solid #e3ad55;
  border-top: solid #e3ad55;
  border-bottom: none;
  box-shadow: 5px 0px 5px #23232347;
  position: relative;
  z-index: 1;
}

#btndone {
  background-color: #79744e;
  border: none;
  margin: -19px;
  position: relative;
  z-index: 0;
  border-left: none;
  border-right: solid #e3ad55;
  border-top: solid #e3ad55;
  border-bottom: none;
  box-shadow: -5px 0px 5px #23232347;
}

.tab {
  z-index: 0;
}

.active_tab {
  z-index: 1;
}

#todolist,
#donelist {
  background-color: #f0ede4;
  border-left: solid #e3ad55;
  border-right: solid #e3ad55;
  border-bottom: solid #e3ad55;
  width: 480px;
  height: 650px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#todolist {
  position: absolute;
  z-index: 1;
}

#donelist {
  position: absolute;
  z-index: 0;
}

.todo-box {
  display: flex;
}

#todo_input {
  margin: 1.5rem 0px 0px 20px;
  border: solid 2px #4c4d52;
  font-family: poppins;
  width: 150px;
}

#amount_input {
  margin: 1.5rem 0px 0px 20px;
  width: 120px;
  border: solid 2px #4c4d52;
  font-family: poppins;
}

.writetodobtn {
  margin: 1.5rem 0px 0px 20px;
  border: solid 2px #4c4d52;
  background-color: #4c4d52;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-family: poppins;
  align-content: end;
}

ul,
.done-container {
  display: inline;
}

li {
  display: flex;
  list-style: none;
  border-bottom: solid 1.5px #4c4d52;
  font-family: poppins;
  font-size: 18px;
  margin: 1.5rem 20px 0px 20px;
  padding-bottom: 5px;
  color: #333436;
}

li p {
  margin: auto;
}

*:focus {
  outline: none;
}

.list-containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  margin: 0rem 0px 0px 20px;
  font-family: poppins;
  font-size: 12px;
}

/* billeder */
.uncheckedstar,
.uncheckedcircle,
.trashicon {
  vertical-align: top;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.checkbox,
.star,
.deleteimg {
  width: 35px;
  height: 35px;
  margin: 0 10px 0 10px;
}
